<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="commands_configuration_file" value="
# This file is used to map out the commands that are to be run to certain messages.\n
# To map a new message to a command, simply add a new line in the following format:\n
# «message» -=> «command»\n
# Example: ping google -=> ping 'google.com'\n"/>

        <add key="ips_whitelist_file" value="
# This file is used to configure the ip addresses that are allowed to send messages to the server.\n
# Any ip addresses not configured here will be completely ignored.\n
# To whitelist a new ip, simply add it as a new line below.\n
# Example: 192.168.1.50\n"/>
    </appSettings>
</configuration>